* {
    border: 1px black solid;
    font-family: 'Lato', sans-serif;
    color: rgba(70, 70, 70);
    box-sizing: border-box;
}

/*  GENERAL SETTING */
/*  GENERAL SETTING */

html,
body {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 5px 0px;
    color: #4F518C;
    line-height: 1.75;
}

h1 {
    font-size: 2.4rem;
    font-weight: 900;
}

h2 {
    font-size: 2.1rem;
    font-weight: 400;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
    color: ivory;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: ivory;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

hr {
    border: 0.5px solid #DABFFF;
}

ul, li {
    margin-left: 0; 
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*
.container {
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 800px;
    }
}

@media screen and (min-width: 800px) {
    .container {
        width: 600px;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 420px;
    }
}

@media screen and (min-width: 420px) {
    .container {
        width: 400px;
    }
}
*/

/*NAVIGATION*/
/*NAVIGATION*/

.main-header-area {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ddd7de;
}

.main-logo {
    height: 50px;
    width: 100px;
}

.main-logo img {
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navigation li {
    list-style: none;
    padding: 0 20px;
}

.social-media-area {
    display: flex;
}

.fb, .ig {
    height: 50px;
    width: 50px;
    background-color: white;
}

@media screen and (max-screen:800px) {
    .header-tools {
        display: none;
    }
}

/*INDEX BANNER*/
/*INDEX BANNER*/

.main-image {
    display: sticky;
    height: 90vh;
    background-image: url(resource/main-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.subtitle-area {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 50px;
}

.subtitle{
    max-width: 850px;
    text-align: center;
}

@media screen and (max-screen:500px) {
    .subtitle-area {
        height: 100%;
    }
}

/*INDEX BLOG LIST*/
/*INDEX BLOG LIST*/

.bloglist-index-area {
    background-color: #907AD6;
    padding: 80px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bloglist-index {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.bloglist-index-pic {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px;
}

.bloglist-index-pic img {
    width: 100%;
}

.bloglist-index-option p, .bloglist-index-option h5 {
    display:inline-block;
    color: ivory;
    margin: 5px;
}

h5.bloglist-index-title {
    font-weight: 900;
}

div.bloglist-index:hover {
    background-color: rgba(255,255,255,0.3);
}

@media screen and (max-width: 1350px) {
    .bloglist-index-option {
        flex-direction: column;
        width: 770px;
    }
    .bloglist-index-pic {
        width: 770px;
        height: 350px;
        margin: 0px 0px 20px 0px;
    }
    .bloglist-index {
        
        display: flex;
        flex-direction: column;
    } 
}

/*  PORTFOLIO */
/*  PORTFOLIO */

.main-content-area {
    margin: 80px 0;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-content {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    width: 300px;
    height: 240px;
}

.main-pic {
    width: 240px;
    height: 240px;
}

.main-pic img {
    height: 100%;
    width: auto;
}

/*BREAK PICTURE*/
/*BREAK PICTURE*/

.break-pic {
    height: 350px;
    background-image: url(resource/break-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*CONTACT*/
/*CONTACT*/

.contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.contact {
    max-width: 850px;
    text-align: center;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: 40px;
    width: 300px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px #4F518C solid;
}

input:focus {
    border: 1px #907AD6 solid;
}

textarea {
    height: 100px;
    width: 630px;
    border-radius: 10px;
    border: 1px #4F518C solid;
    padding: 10px;
}

textarea:focus {
    border: 1px #907AD6 solid;
}

.firstname, .email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    width: 80px;
    height: 40px;
    margin: 15px;
    border-radius: 10px;
    border: 1px #4F518C solid;
}

.contact-btn:active {
    border: 1px #907AD6 solid;
}

@media screen and (max-width: 780px) {
    .options {
        display: flex;
        flex-direction: column;
    }
    input, textarea, .contact-btn {
        flex-direction: column;
        justify-content: center;
        width: 400px;
        margin: 10px 0px 10px 0px;
    }
    .contact-btn {
        width: 80px;
        padding: 10px 16px;
    }
}

@media screen and (max-width: 520px) {
    input, textarea, .contact-btn {
        width: 250px;
        margin: 10px 0px 10px 0px;
    }
}

/*FOOTER*/
/*FOOTER*/

.footer-area {
    height: 350px;
    background-image: url(resource/footer-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 80px 50px;
}

.footer-option h6 {
    color: ivory;
    font-weight: 900;
}

.footer-option ul {
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: ivory;
}

.footer-option li {
    margin: 10px 0px;  
}

.footer-option a {
    text-decoration: none;
    cursor: pointer;
    color: ivory;
    font-size: 14px;
}

.footer-option a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-area p {
    color: ivory;
    font-size: 12px;
}

.footer-logo {
    width: 150px;
    height: 75px;
}

.footer-logo img {
    width: 100%;
}

.copyright {
    position: absolute;
    display: block;
    bottom: 0px;
}

@media screen and (max-screen:570px) {
    .footer-area {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    p.copyright {
        font-size: 0.7 rem;
    }
}

/*BLOG PAGE*/
/*BLOG PAGE*/

.blog-main-image {
    display: sticky;
    height: 90vh;
    background-image: url(resource/blog-main-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*  BLOG ARTICLES */
/*  BLOG ARTICLES */

.blog-main-content-area {
    padding: 80px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.blog-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-main-content { 
    margin: 20px;
    width: 300px;
    height: 400px;    
    text-align: center;
}

.blog-main-content h6 {
    font-size: 1.4rem;
    font-weight: 900;
}

.blog-main-pic {
    width: 300px;
    height: 250px;
    border-radius: 0px 20px;
    overflow: hidden;
}

.blog-main-pic img {
    width: 100%;
    height: auto;
}

.blog-article-area {
    padding: 80px 50px;
}

.blog-article-pic {
    margin-top: 50px;
    height: 50vh;
    width:100%;
    overflow: hidden;
    border-radius: 20px;
}

.blog-article-pic img {
    width: 100%;
}

.blog-article-title p {
    margin: 0px;
    color: #907AD6;
}

.blog-article-paragraph p {

}

.blog-article-button {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.blog-article-button-option {
    display: inline-flex;
    flex-direction: row;
}

.blog-article-button-option li {
    margin: 0px 20px;
}