* {
    font-family: 'Lato', sans-serif;
    color: rgba(70, 70, 70);
    box-sizing: border-box;
}

/*  GENERAL SETTING */
/*  GENERAL SETTING */

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    color: #4F518C;
    line-height: 40px;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    color: ivory;
    line-height: 40px;
}

h6 {
    font-size: 16px;
    font-weight: 900;
    line-height: 30px;
    color: ivory;
    margin: 10px 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

hr {
    border: 0.5px solid #DABFFF;
}

ul, li {
    margin-left: 0; 
    padding-left: 0;
}

li {
    list-style: none;
}

@media screen and (max-width: 800px) {
    h3 {
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

/*NAVIGATION*/
/*NAVIGATION*/

.main-header-area {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ddd7de;
}

.main-logo {
    height: 50px;
    width: 100px;
}

.main-logo img {
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navigation li {
    list-style: none;
    padding: 0 20px;
}

.social-media-area {
    display: flex;
}

.fb, .ig {
    height: 50px;
    width: 50px;
    background-color: white;
}

/*INDEX BANNER*/
/*INDEX BANNER*/

.main-image {
    display: sticky;
    height: 90vh;
    background-image: url(resource/main-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.subtitle-area {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle{
    max-width: 850px;
    height: 200px;
    text-align: center;
}

/*INDEX BLOG LIST*/
/*INDEX BLOG LIST*/

.bloglist-index-area {
    background-color: #907AD6;
    padding: 100px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bloglist-index-pic {
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.bloglist-index-pic img {
    width: 100%;
}

.bloglist-index-option {
    padding: 0px 20px;
}

.bloglist-index h5 {
    margin: 0px;
}

.bloglist-index a {
    text-decoration: none;
}

.bloglist-index:hover {
    background-color: rgba(255,255,255,0.3);
}

.time-tag, .blog-article-title {
    display:inline-block;
}

.time-tag {
    color: ivory;
    font-weight: 400;
    margin: 15px;
}

.bloglist-index-area a {
    color: ivory;
    font-weight: 900;
}

/*  PORTFOLIO */
/*  PORTFOLIO */

.main-content-area {
    margin: 80px 0;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-content {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    width: 300px;
    height: 240px;
}

.main-pic {
    width: 240px;
    height: 240px;
}

.main-pic img {
    height: 100%;
    width: auto;
}

/*BREAK PICTURE*/
/*BREAK PICTURE*/

.break-pic {
    height: 350px;
    background-image: url(resource/break-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*CONTACT*/
/*CONTACT*/

.contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 50px;
}

.contact {
    max-width: 850px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: 40px;
    width: 300px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px #4F518C solid;
}

input:focus {
    border: 1px #907AD6 solid;
}

textarea {
    height: 100px;
    width: 630px;
    border-radius: 10px;
    border: 1px #4F518C solid;
    padding: 10px;
}

textarea:focus {
    border: 1px #907AD6 solid;
}

.firstname, .email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    width: 80px;
    height: 40px;
    margin: 15px;
    border-radius: 10px;
    border: 1px #4F518C solid;
}

.contact-btn:active {
    border: 1px #907AD6 solid;
}

/*FOOTER*/
/*FOOTER*/

.footer-area {
    height: 350px;
    background-image: url(resource/footer-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 80px 50px;
}


.footer-option ul {
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: ivory;
}

.footer-option li {
    margin: 10px 0px;  
}

.footer-option a {
    text-decoration: none;
    cursor: pointer;
    color: ivory;
    font-size: 14px;
}

.footer-option a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-area p {
    color: ivory;
    font-size: 12px;
}

.footer-logo {
    width: 150px;
    height: 75px;
}

.footer-logo img {
    width: 100%;
}

.copyright {
    position: absolute;
    display: block;
    bottom: 0px;
}

/*BLOG PAGE*/
/*BLOG PAGE*/

.blog-main-image {
    display: sticky;
    height: 90vh;
    background-image: url(resource/blog-main-pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*  BLOG ARTICLES */
/*  BLOG ARTICLES */

.blog-main-content-area {
    margin: 80px 0;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.blog-main-content {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-main-content { 
    width: 300px;
    height: 400px;    
    text-align: center;
}

.blog-main-content h5 {
    color: #4F518C;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.blog-main-pic {
    width: 300px;
    height: 250px;
    border-radius: 0px 20px;
    overflow: hidden;
}

.blog-main-pic img {
    width: 100%;
    height: auto;
}